{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
        <h2>Moradias</h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'add_room' %}">Nova Moradia</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Disponibilidade</th>
                    <th>Fotos</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.name }}</td>
                        <td>{{ room.description }}</td>
                        <td>R$ {{ room.value }}</td>
                        <td>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                    <span class="label_available" style="color: {% if room.available %}green{% else %}red{% endif %}">
                                        {% if room.available %}Disponível{% else %}Indisponível{% endif %}
                                    </span>
                                    <input class="form-check-input checkbox_available" type="checkbox" data-room-pk="{{ room.id }}" {% if room.available %}checked{% endif %}>
                                </label>
                            </div>
                        </td>
                        <td>
                        {% for image in images %}
                            {% if room.id == image.room_id %}
                                <img src="{{ image.image.url }}" alt='room' style="width: 100px">
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>
                            <div class="justify-content-center">
                                <form method="post" action="{% url 'delete_room' room.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">X</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('.checkbox_available').on('change', function() {
            const checked = $(this).prop('checked');
            const roomPk = $(this).data('room-pk');
            $.ajax(
                "{% url 'room-availability' %}",
                {
                    method: 'post',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({checked, roomPk}),
                    dataType: 'application/json'
                }
            );
            const label = $(this).parent().find('.label_available');
            label.html(checked ? 'Disponível' : 'Indisponível');
            label.css({'color': checked ? 'green' : 'red'});
        })
    </script>
{% endblock %}
