{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
        <h2>Contratos</h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_contract' %}">Novo Contrato</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
        <table class="table">

            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Quarto</th>
                    <th>Alugado em</th>
                    <th>Valor</th>
                    <th>Contrato</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in contracts %}
                    <tr>
                        <td>{{ contract.user.username }}</td>
                        <td>{{ contract.room.name }}</td>
                        <td>{{ contract.rented_at }}</td>
                        <td>R$ {{ contract.residence_value }}</td>
                        <td>
                            <a href="{{ contract.contract.url }}" class="btn btn-primary btn-sm" target="_blank">
                                Download PDF
                            </a>
                        </td>
                        <td>
                            <div class="justify-content-center">
                                <form method="post" action="{% url 'delete_contract' contract.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">X</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}